version: '3'
services:
  node:
    image: node:12.19.0-alpine
    container_name: node
    environment: 
    - NODE_ENV=production
    volumes:
    - ./next/:/usr/src/app
    working_dir: /usr/src/app
    command: sh -c "npm run dev"
    ports:
    - "3000:3000"
    tty: true